:root {
  --tile-width: 1.2rem;
  --board-width: 13;
  --board-height: 13;
}
:root {
  --half-height: calc(var(--tile-width) * 0.5);
}

.board {
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 0.3rem;
}

.board > .slide-grid {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: calc(var(--board-width) * var(--tile-width));
  height: calc(var(--board-height) * var(--tile-width));
  line-height: 0;
  box-sizing: content-box;
}

.board > .slide-grid > * {
  display: inline-block;
}

.tile {
  display: inline-block;
  background: white;
  width: var(--tile-width);
  height: var(--tile-width);
  box-sizing: border-box;
  border: 0px;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

/*
empty
blocker
double-letter
triple-letter
double-word
triple-word
start
 */

.tile.blocker {
  background: black;
}

.tile.double-letter {
  background: #008fff80;
}

.tile.double-letter::before {
  width: var(--tile-width);
  text-align: center;
  font-size: var(--half-height);
  position: absolute;
  transform: translateY(var(--half-height));
  content: "DL"; 
}

.tile.triple-letter {
  background: #00ff8f80;
}

.tile.triple-letter::before {
  width: var(--tile-width);
  text-align: center;
  font-size: var(--half-height);
  position: absolute;
  transform: translateY(var(--half-height));
  content: "DL"; 
}

.tile.double-word {
  background: rgba(255, 0, 0, 0.5);
}

.tile.double-word::before {
  width: var(--tile-width);
  text-align: center;
  font-size: var(--half-height);
  position: absolute;
  transform: translateY(var(--half-height));
  content: "DW"; 
}

.tile.triple-word {
  background: rgba(255, 166, 0, 0.5);
}

.tile.triple-word::before {
  width: var(--tile-width);
  text-align: center;
  font-size: var(--half-height);
  position: absolute;
  transform: translateY(var(--half-height));
  content: "TW"; 
}

.tile.start {
  background: white;
}

.tile.start::before {
  width: var(--tile-width);
  text-align: center;
  position: absolute;
  transform: translateY(var(--half-height));
  content: "☆";
}
